.join-btn {
    background-color: #4FB7B3;
    border: none;
}

.join-btn:hover,
.join-btn:active {
    background-color: #44A19E !important;
}

.feature-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .75rem;
    background-color: #4FB7B3;
}

.feature-icon img {
    filter: brightness(0) invert(1);
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navbar .nav-link {
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.navbar .nav-link:hover {
  background-color: rgba(79, 183, 179, 0.2);
  border-bottom: 2px solid #4FB7B3;
  color: #4FB7B3;
}

.cafes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #E0E0E0;
    padding: 2rem 0.5rem;
    margin: 1rem;
    border-radius: 0.7rem;
    column-gap: 0.5rem;
    row-gap: 1rem;
}

#city {
    padding-top: 1rem;
    padding-left: 1.4rem;
    padding-bright: 1.4rem;
}

.card {
    cursor: pointer;
    transition: transform 1s ease, box-shadow 1s ease;
}

.card:hover {
  transform: translateY(-2px);   /* moves card upward */
  box-shadow: 20px 20px 40px rgba(0,0,0,0.25);  /* optional: adds depth */
}

.suggest-cafe {
    text-decoration: none !important;
    color: black !important;
}

.website-btn {
    background-color: #4FB7B3;
    border-color: #4FB7B3;
    transition: background-color 0.5s;
}

.website-btn:hover,
.website-btn:active {
  background-color: rgba(79, 183, 179, 0.2) !important;
  border: none !important;
  border-bottom: 2px solid #4FB7B3 !important;
  color: #4FB7B3 !important;
  box-shadow: none !important;
}

